<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.superywd.lottery.main.dao.AwardDao">
    <!--基本对象映射类-->
    <resultMap id="BaseResultMap" type="com.superywd.lottery.main.model.TbAward">
        <id column="id" jdbcType="INTEGER" javaType="Integer" property="id"/>
        <result column="award_name" jdbcType="VARCHAR" javaType="String" property="awardName"/>
        <result column="award_count" jdbcType="INTEGER" javaType="Integer" property="awardCount"/>
        <result column="base_rate" jdbcType="DOUBLE" javaType="Double" property="baseRate"/>
    </resultMap>

    <sql id="base_sql">
        award.id AS id,award.award_name AS award_name,
        award.award_count AS award_count,award.base_rate AS base_rate
    </sql>

    <select id="selectAwardByActivityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
          <include refid="base_sql"/>
        FROM  award
        WHERE
          award.activity_id = #{id} AND
          award.isvalid = 1
    </select>
</mapper>